
    <h2>Transactions for {{mostRecent.asset?.assetName}} ({{mostRecent.asset?.stockSymbol}})</h2>
    <hr>
    <h4>Account Owner:  {{userName}}</h4>
    <div  *ngIf="coinPrice">
        <table class="pricing" id="userOwned"> 
            <caption>Current Value</caption>
            <thead>
            <th>Shares Owned</th>    
            <th>Current Price</th>
            <th>Time Stamp</th>
            <th>Current Value of Holdings</th>
            </thead>
            <tbody>
            <tr> 
                <td>{{mostRecent.totalAmount}}</td>
                <td>{{ +coinPrice.price|currency}}</td>
                <td>{{coinPrice.timeStamp}}</td>
                <td>{{mostRecent.totalAmount * +coinPrice.price|currency}}</td>
        </tr>
    </tbody>
    </table>
</div>
<div>
</div>
    <div *ngIf="quoteDetail">
        <table class="pricing">
            <caption>Current Value</caption>
        <thead>
        <th>Shares Owned</th>  
        <th>Value Per Share</th>
        <th>Time Stamp</th>
        <th>%Transaction</th>
        <th>Open Price: {{today}} </th>
        <th>Current Value of Holdings</th>
        </thead>
        <tbody>
        <tr  *ngFor="let detail of quoteDetail; let i = index">
            <td>{{mostRecent.totalAmount}}</td> 
            <td>{{detail?.attributes?.last | currency}}</td>
            <td>{{detail?.attributes?.dateTime | date}}</td>
            <td *ngIf="detail?.attributes.percentTransaction > 0" class="positive">{{detail.attributes.percentTransaction | number:'1.0-2'}}</td>
            <td *ngIf="detail?.attributes.percentTransaction < 0" class="negative">{{detail.attributes.percentTransaction | number:'1.0-2'}}</td>
            <td>{{detail?.attributes?.open | currency}}</td>
            <td>{{mostRecent.totalAmount * detail?.attributes?.last | currency}}</td>
         <br>
    </tr>
</tbody>
</table>
<br>
<br>
<br>
<hr>
    </div>   
 <div>    
    <table class="pricing">
        <caption>Most Recent Transaction</caption>
         <thead>
             <th>Transaction#</th>
             <th>Date of Transaction</th>
             <th>Previous Total</th>
             <th>Asset Class</th>
         </thead>
    <tbody>
     <tr>  
     <td>{{mostRecent.transactionId}}</td>
     <td>{{mostRecent.transactionTime}}</td>
     <td>{{mostRecent.totalAmount - mostRecent.transactionAmount}}</td>
     <td>{{mostRecent.asset?.type}}</td>
    </tr>
    </tbody>
</table>
        <div class="row mb-2">
            <div class="col-md-4">
                <br>
              <button class="btn btn-primary mr-3"
                    style="width:80px"
                    type="button" 
                   [routerLink]="['alter',mostRecent.transactionId]"
                    routerLinkActive="active">Edit</button>
              <button class="btn btn-outline-warning"
                     style="width:80px"
                     type="button"
                     [routerLink]="['add-transaction']" [queryParams]="{ptotal:mostRecent.transactionId}"                          
                     routerLinkActive="active">Add</button>
            <button class="btn btn-outline-warning"
                    style="width:80px"
                    type="button"
                    (click)="deleteInput(mostRecent.transactionId!)">Delete</button>
            </div>
          </div>
          
      
    <br>
</div> 
<br>
<div *ngIf="reveal"> 
    <hr>
<br>
    <form [formGroup]="updateForm" autocomplete="off" novalidate (ngSubmit)="subUpdate(updateForm.value)">
        <div class="form-group row">
            <label for="total" class="col-form-label col-sm-2">New Total:</label>
            <div class="col-md-5">
                <input type="number" id="updateTotal" formControlName="updateTotal" class="form-control" />
            </div>
        </div>
        <br>
        <div class="form-group row">
            <div class="col-md-1">
                <button type="submit" class="btn btn-info" [disabled]="!updateForm.valid">Update</button>
            </div>
        </div>
    </form>
</div>
    <router-outlet></router-outlet>
<div>
    <h2>Previous Transactions</h2>
    <hr>
 <p *ngIf="!transactionHistory.length"> No previous transctions have been recorded</p>
<div *ngIf="transactionHistory">  
    <ul *ngFor="let transaction of transactionHistory; let i = index">
    <li><b>Transaction# {{transaction.transactionId}}</b></li>
    <hr>
    <br>
    <li><strong>Date: </strong> {{transaction.transactionTime}}</li>
    <li><strong>Previous Total:</strong> {{transaction.totalAmount - transaction.transactionAmount }}</li>
    <li><strong>New Total:</strong>  {{transaction.totalAmount}}</li>
    <br>
    <button  style="width:80px"  type="button" [routerLink]="['alter',mostRecent.transactionId]"
        routerLinkActive="active">Edit</button>
    <br >
    </ul>
</div> 
</div>
