h2.title {
    text-align: center;
    font-size: xx-large;
}

caption{
    font-size: x-large;
}


#userOwned{
 margin-left: 0pt;
 float: left;

}


/* td.positive {
    background-color: rgb(119, 209, 119);
}

td.negative {
    background-color: rgb(255, 147, 147);
} */