h2.title {
    text-align: center;
    font-size: xx-large;
}

caption{
    font-size: x-large;
}

#crypto{
 padding-left: 25px;
 margin-left:20px;
    display:inline-table
}
#stock{
    display:inline-table;
    padding-right: 25px;
    margin-right: 20px;
  }

td.positive {
    background-color: rgb(119, 209, 119);
}

td.negative {
    background-color: rgb(255, 147, 147);
}