<div class="row mb-2">
  <div class="col-md-4">
      <br>
    <button class="btn btn-primary mr-3"
            style="width:250px"
            type="button" >
            <a class="navbar-brand" routerLink="/add-commodity">Add Asset To Watched</a></button>
            <button class="btn btn-primary mr-3"
            style="width:250px"
            type="button" >
            <a class="navbar-brand"routerLink="/portfolio-add">Add New Asset To Your Portfolio</a></button>
  </div>
</div>

<h2>Hello {{userName}}</h2>

<h2>{{message}}</h2>
<table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>Id</th>
        <th>Last Changed</th>
        <th>Previous Total</th>
        <th> Current Total </th>
        <th> Ref#</th>
        <th> Name</th>
        <th> Symbol</th>
        <th> Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let commodity of commodities">
        <td> {{commodity.changeId}}</td>
        <td>{{commodity.changeTime | date}} </td>
        <td> {{commodity.totalAmount - commodity.changeAmount }}</td>
        <td>{{commodity.totalAmount}}</td>
        <td>{{commodity.commodityId}}</td>   
        <td class="text-align: start;">{{commodity.commodity?.commodityName}}</td>    
        <td>{{commodity.commodity?.stockSymbol}}</td>    
        <td>{{commodity.commodity?.type}}</td>
        <br>
        <td><button><a class="navbar-brand" [routerLink]="['/user-profile', commodity.commodityId,'details']" routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">Details</a></button></td>   
          <br>
          <td><button><a class="navbar-brand" [routerLink]="['/user-profile', commodity.commodityId,'update',currentUser!.id]" routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">Update</a></button></td> 
          <br>
      </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>

