h2.title {
    text-align: center;
    font-size: xx-large;
}

caption{
   
    font-size: x-large;
}


td.positive {
    background-color: rgb(119, 209, 119);
}

td.negative {
    background-color: rgb(255, 147, 147);
}