<div class="row mb-2">
  <br>
  <div class="col-md-4">
      <br>
    <button class="btn btn-primary mr-3"
            style="width:250px"
            type="button" 
            [routerLink]="['/add-asset']" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">Add Asset To Watched</button>
            <button class="btn btn-primary mr-3"
            style="width:250px"
            type="button"
            [routerLink]="['/portfolio-add']" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">Add New Asset To Your Portfolio</button>
            <button class="btn btn-primary mr-3"
            style="width:250px"
            type="button"
            [routerLink]="['/NEED TO ADD']" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">Portfolio Related News</button>
            <button class="btn btn-primary mr-3"
            style="width:250px"
            type="button"
            onclick="getPortfolioNews()"
           >Market Watch</button>
  </div>
</div>
<br>

<h2>{{message}}</h2>
<table class="pricing">
  <caption>{{userName}}'s Portfolio as of {{today |date}}</caption>
    <thead>
      <tr>
        <th>Id</th>
        <th>Last Transaction</th>
        <th>Previous Total</th>
        <th> Current Total </th>
        <th> Ref#</th>
        <th> Name</th>
        <th> Stock Symbol</th>
        <th> Type</th>
        <th> Avg Price</th>
        <th>Links</th>
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asset of assets; let i=index">
        <td> {{asset.transactionId}}</td>
        <td>{{asset.transactionTime | date}} </td>
        <td> {{asset.totalAmount - asset.transactionAmount }}</td>
        <td>{{asset.totalAmount}}</td>
        <td>{{asset.assetId}}</td>   
        <td class="text-align: start;">{{asset.asset?.assetName}}</td>    
        <td>{{asset.asset?.stockSymbol}}</td>    
        <td>{{asset.asset?.type}}</td>
        <td>{{average[i] | currency}}</td>
        <td>  
        <a class="navbar-brand" [routerLink]="[asset.assetId,'details']" routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">Details</a> /
          <a class="navbar-brand" [routerLink]="[asset.assetId,'update',currentUser!.id]" routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">Update</a>
        </td>
      </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>

