<div class="row mb-2">
  <br>
  <div class="col-md-4">
      <br>
    <button class="btn btn-primary mr-3"
            style="width:250px"
            type="button" >
            <a class="navbar-brand" routerLink="/add-asset">Add Asset To Watched</a></button>
            <button class="btn btn-primary mr-3"
            style="width:250px"
            type="button" >
            <a class="navbar-brand"routerLink="/portfolio-add">Add New Asset To Your Portfolio</a></button>
  </div>
</div>
<br>

<h2>{{message}}</h2>
<table class="pricing">
  <caption>{{userName}}'s Portfolio as of {{today |date}}</caption>
    <thead>
      <tr>
        <th>Id</th>
        <th>Last Transactiond</th>
        <th>Previous Total</th>
        <th> Current Total </th>
        <th> Ref#</th>
        <th> Name</th>
        <th> Symbol</th>
        <th> Type</th>
        <th> Avg Price</th>
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asset of assets; let i=index">
        <td> {{asset.transactionId}}</td>
        <td>{{asset.transactionTime | date}} </td>
        <td> {{asset.totalAmount - asset.transactionAmount }}</td>
        <td>{{asset.totalAmount}}</td>
        <td>{{asset.assetId}}</td>   
        <td class="text-align: start;">{{asset.asset?.assetName}}</td>    
        <td>{{asset.asset?.stockSymbol}}</td>    
        <td>{{asset.asset?.type}}</td>
        <td>{{average[i]}}</td>
        <br>
        <td><button><a class="navbar-brand" [routerLink]="['/user-profile', asset.assetId,'details']" routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">Details</a></button>
          <br></td>
          <td><button><a class="navbar-brand" [routerLink]="['/user-profile', asset.assetId,'update',currentUser!.id]" routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">Update</a></button>
          <br></td>
      </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>

