
 <div> 
    <p *ngIf="transaction!.priceSnapshot && transaction!.priceSnapshot>0">Current Price: {{transaction!.priceSnapshot |currency}}</p>
    <form [formGroup]="transactionForm" autocomplete="off" novalidate (ngSubmit)="onSubmit(transactionForm.value)">
        <div class="form-group row">
            <label for="newTotal" class="col-form-label col-sm-2">New Total:</label>
            <div class="col-md-5">
                <input type="number" id="newTotal" formControlName="newTotal" class="form-control" />
            </div>
        </div>
        <br>
        <div class="form-group row">
            <div class="col-md-1">
                <button type="submit" class="btn btn-info" [disabled]="!transactionForm.valid">Add</button>
            </div>
        </div>
    </form>
</div>
